* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: var(--background-color);
}

:root {
  --primary-color: #116519;
  --secondary-color: #FFDB95;
  --background-color: #FFFAED;
  --text-color: #3c3c3c;
  --border-radius: 0.625em;
}

.container {
  max-width: 77.5em;
  margin: 0 auto;
}

main,
header,
section,
footer {
  padding: 0 6.25em;
}

h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  max-width: 35.8125rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  color: #000000;
}

.button {
  padding: 0.625em 1.25em;
  border: none;
  border-radius: var(--border-radius);
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.button.pri {
  color: white;
  background: var(--primary-color);
}
.button.pri::before {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: var(--border-radius);
  z-index: -1;
  opacity: 50%;
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  transition: all 300ms;
}
.button.pri:hover {
  background: none;
}
.button.pri:hover::before {
  opacity: 70%;
  left: -5%;
  top: -10%;
}
.button.pri::after {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: var(--border-radius);
  z-index: -1;
  opacity: 50%;
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  transition: all 300ms;
}
.button.pri:hover {
  background: none;
}
.button.pri:hover::after {
  opacity: 70%;
  right: -5%;
  bottom: -10%;
}
.button.sec {
  background: var(--secondary-color);
}
.button.sec::before {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: var(--border-radius);
  z-index: -1;
  opacity: 50%;
  content: "";
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  transition: all 300ms;
}
.button.sec:hover {
  background: none;
}
.button.sec:hover::before {
  opacity: 50%;
  left: -5%;
  top: -10%;
}
.button.sec::after {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: var(--border-radius);
  z-index: -1;
  opacity: 50%;
  content: "";
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  transition: all 300ms;
}
.button.sec:hover {
  background: none;
}
.button.sec:hover::after {
  opacity: 50%;
  right: -5%;
  bottom: -10%;
}

header {
  transition: all 300ms ease-in;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  background-color: var(--background-color);
  z-index: 99;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 1.25em 0;
  align-items: center;
}
header .container .logo {
  font-weight: bold;
  font-size: 1.5rem;
}
header .container nav {
  display: flex;
  align-items: center;
  gap: 3.125em;
}
header .container nav ul {
  list-style-type: none;
  display: flex;
  gap: 2.5em;
}
header .container nav ul li {
  transition: all 300ms ease-in;
  position: relative;
}
header .container nav ul li::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -0.4em;
  background-color: black;
  width: 0.625em;
  height: 0.2em;
  opacity: 0;
  transition: width 300ms ease-in;
}
header .container nav ul li:hover::before {
  width: 50%;
  opacity: 1;
  background-color: black;
}
header .container nav ul li.active a {
  font-weight: 700;
}
header .container nav ul li.active::before {
  width: 50%;
  opacity: 1;
  background-color: var(--primary-color);
}
header .container nav ul li a {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
header .container nav ul li a:hover {
  font-weight: 700;
}

main .container {
  padding-top: 5em;
  display: flex;
  justify-content: space-between;
}
main .container .left-col {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
main .container .left-col p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  max-width: 28.75em;
  color: var(--text-color);
  margin-top: 0.625em;
}
main .container .left-col .cta {
  display: flex;
  gap: 0.625em;
}
main .container .left-col .cta .secondary-cta {
  display: flex;
  align-items: center;
  gap: 0.625em;
  border: none;
  background: none;
  transition: all 300ms ease-in;
}
main .container .left-col .cta .secondary-cta:hover {
  gap: 1em;
  background-color: var(--secondary-color);
}
main .container .left-col .svg {
  display: flex;
  align-items: center;
  gap: 2.1875em;
}
main .container .right-col {
  display: flex;
  gap: 2.5em;
}
main .container .right-col div {
  border-radius: var(--border-radius);
  padding: 1.25em;
  max-width: 18.4375em;
  height: 31.25em;
  background-color: var(--secondary-color);
}
main .container .right-col div:last-of-type {
  background-color: var(--primary-color);
}
main .container .right-col div img {
  filter: drop-shadow(-0.625em 1.25em 1.25em rgba(0, 0, 0, 0.25));
}

.image-gallery .container {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  align-items: center;
  justify-content: center;
}
.image-gallery .container .images {
  display: grid;
  grid-template-areas: "vertical horizontal horizontal" "vertical space spa";
  gap: 1.25em;
}
.image-gallery .container .images img {
  border-radius: var(--border-radius);
  width: 100%;
}
.image-gallery .container .images img:nth-of-type(1) {
  grid-area: vertical;
}
.image-gallery .container .images img:nth-of-type(2) {
  grid-area: horizontal;
}

.products .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
  padding-top: 6.25em;
}
.products .container .categories {
  display: flex;
  gap: 1.25em;
}
.products .container .categories button:nth-of-type(n+2) {
  background-color: transparent;
  border: 0.0625em solid black;
}
.products .container .cards {
  display: flex;
  gap: 1.25em;
}
.products .container .cards > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.products .container .cards > div .image {
  height: 12.1875em;
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: red;
}
.products .container .cards > div .product-information {
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 0.625em;
  padding: 1.25em;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.products .container .cards > div .product-information .left-col {
  display: flex;
  flex-direction: column;
  gap: 0.3125em;
  justify-content: space-between;
  height: 100%;
}
.products .container .cards > div .product-information .left-col p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--text-color);
}
.products .container .cards > div .product-information .right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.products .container .cards > div .product-information .right-col .price {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}
.products .container .cards > div .product-information .right-col button {
  padding: 0.3125em 0.625em;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  border-radius: 0.3125em;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  font-weight: 700;
  border: none;
}

.explanation .container {
  max-width: 64.375em;
  display: flex;
  gap: 6.25em;
  margin-top: 5em;
}
.explanation .container .left-col {
  width: 26.3em;
  position: relative;
}
.explanation .container .left-col div {
  width: 25em;
  height: 35.125em;
  position: relative;
  border-radius: 100em;
  overflow: hidden;
  background-image: url(/images/Group\ 8.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.explanation .container .left-col div img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 22.1em;
  height: 33.7em;
  transition: all 300ms;
}
.explanation .container .left-col div:hover img {
  width: 23.3em;
  height: 35.6em;
}
.explanation .container .left-col svg {
  position: absolute;
  right: -1.25em;
  bottom: 8.4em;
  z-index: 10;
}
.explanation .container .right-col {
  margin: auto 0 3.75em;
}
.explanation .container .right-col p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--text-color);
  margin-top: 1.25em;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.9em 1.25em;
  margin-top: 8em;
}
.services .container h2 {
  grid-column: 1/-1;
}
.services .container .cards {
  display: flex;
  flex-direction: column;
  transition: all 300ms ease-in;
}
.services .container .cards .image {
  height: 12.1875em;
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: red;
}
.services .container .cards .product-information {
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 0.625em;
  padding: 1.25em;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.services .container .cards .product-information .left-col {
  display: flex;
  flex-direction: column;
  gap: 0.3125em;
  justify-content: space-between;
  height: 100%;
}
.services .container .cards .product-information .left-col p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--text-color);
}
.services .container .cards .product-information .right-col {
  padding: 0.625em;
  transition: all 300ms ease-in;
}
.services .container .cards:hover .right-col {
  padding: 0.625em 0;
}

.people .container {
  display: flex;
  gap: 1.25em;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 10em;
}
.people .container div {
  width: 11.9em;
  height: 35.6em;
  border-radius: var(--border-radius);
  display: flex;
  align-items: flex-end;
  padding: 0 1.25em;
  transition: all 300ms ease-in;
}
.people .container div:nth-of-type(1) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/blake-barlow-G9JxeWPvBA8-unsplash.png);
  background-size: cover;
  background-position: 50%;
}
.people .container div:nth-of-type(1):hover {
  width: 23.8em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.6039215686) 100%), url(/images/blake-barlow-G9JxeWPvBA8-unsplash.png);
  background-size: cover;
  background-position: 50%;
  padding: 2.5em 1.25em;
}
.people .container div:nth-of-type(2) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/john-torcasio-tgVm0tkbf1U-unsplash\ 1.png);
  background-size: cover;
  background-position: 50%;
}
.people .container div:nth-of-type(2):hover {
  width: 23.8em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.6039215686) 100%), url(/images/john-torcasio-tgVm0tkbf1U-unsplash\ 1.png);
  background-size: cover;
  background-position: 50%;
  padding: 2.5em 1.25em;
}
.people .container div:nth-of-type(3) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/joseph-gonzalez-iFgRcqHznqg-unsplash.png);
  background-size: cover;
  background-position: 50%;
}
.people .container div:nth-of-type(3):hover {
  width: 23.8em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.6039215686) 100%), url(/images/joseph-gonzalez-iFgRcqHznqg-unsplash.png);
  background-size: cover;
  background-position: 50%;
  padding: 2.5em 1.25em;
}
.people .container div:nth-of-type(4) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/brazil-1368806_1280.png);
  background-size: cover;
  background-position: 50%;
}
.people .container div:nth-of-type(4):hover {
  width: 23.8em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.6039215686) 100%), url(/images/brazil-1368806_1280.png);
  background-size: cover;
  background-position: 50%;
  padding: 2.5em 1.25em;
}
.people .container div p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  color: rgba(255, 255, 255, 0);
  transition: all 300ms ease-in;
}
.people .container div:hover {
  width: 23.8em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.6039215686) 100%), url(/images/joseph-gonzalez-iFgRcqHznqg-unsplash.png);
  background-size: cover;
  background-position: 50%;
  padding: 2.5em 1.25em;
}
.people .container div:hover p {
  color: #ffffff;
}

.ceo .container {
  max-width: 64.375em;
  display: flex;
  gap: 6.25em;
  margin-top: 5em;
}
.ceo .container .left-col {
  width: 26.3125em;
  position: relative;
  transform: scaleX(-1);
}
.ceo .container .left-col div {
  width: 25em;
  height: 35.125em;
  position: relative;
  border-radius: 100em;
  overflow: hidden;
  background-image: url(/images/Group\ 8.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.ceo .container .left-col div img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 22.1em;
  height: 33.7em;
  transition: all 300ms;
}
.ceo .container .left-col div:hover img {
  width: 23.3em;
  height: 35.6em;
}
.ceo .container .left-col svg {
  position: absolute;
  right: -1.25em;
  bottom: 8.4em;
  z-index: 10;
}
.ceo .container .right-col {
  margin: auto 0 3.75em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  align-items: flex-end;
}
.ceo .container .right-col p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--text-color);
  text-align: right;
}

.products:last-of-type {
  background-image: url(/images/Layer\ 2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 57.4em;
  display: flex;
  align-items: center;
  margin-top: 10em;
}
.products:last-of-type .container {
  margin-top: 0%;
}

footer {
  height: 62.5em;
  background: url(/images/Vector.svg), var(--primary-color);
  background-repeat: no-repeat;
  background-position-x: 50%;
}/*# sourceMappingURL=style.css.map */