* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: var(--background-color);
}

:root {
    --primary-color: #116519;
    --secondary-color: #FFDB95;
    --background-color: #FFFAED;
    --text-color: #3c3c3c;
    --border-radius: 0.625em;
}

.container {
    max-width: 77.5em;
    margin: 0 auto;
}

main,
header,
section,
footer {
    padding: 0 6.25em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    max-width: 35.8125rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000000;
}

.button {
    padding: 0.625em 1.25em;
    border: none;
    border-radius: var(--border-radius);
    font: {
        weight: 700;
        family: 'Inter', sans-serif;
        size: 1rem;
    }
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    width: fit-content;
    position: relative;
    &.pri {
        color: white;
        background: var(--primary-color);
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: var(--border-radius);
            z-index: -1;
            opacity: 50%;
            content: "";
            background-color: var(--primary-color);
            width: 100%;
            height: 100%;
            transition: all 300ms;
        }
        &:hover {
            background: none;
            &::before {
                opacity: 70%;
                left: -5%;
                top: -10%;
            }
        }
        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: var(--border-radius);
            z-index: -1;
            opacity: 50%;
            content: "";
            background-color: var(--primary-color);
            width: 100%;
            height: 100%;
            transition: all 300ms;
        }
        &:hover {
            background: none;
            &::after {
                opacity: 70%;
                right: -5%;
                bottom: -10%;
            }
        }
    }
    &.sec {
        background: var(--secondary-color);
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: var(--border-radius);
            z-index: -1;
            opacity: 50%;
            content: "";
            background-color: var(--secondary-color);
            width: 100%;
            height: 100%;
            transition: all 300ms;
        }
        &:hover {
            background: none;
            &::before {
                opacity: 50%;
                left: -5%;
                top: -10%;
            }
        }
        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: var(--border-radius);
            z-index: -1;
            opacity: 50%;
            content: "";
            background-color: var(--secondary-color);
            width: 100%;
            height: 100%;
            transition: all 300ms;
        }
        &:hover {
            background: none;
            &::after {
                opacity: 50%;
                right: -5%;
                bottom: -10%;
            }
        }
    }
}

header {
    transition: all 300ms ease-in;
    position: sticky;
    top: 0%;
    background-color: var(--background-color);
    z-index: 99;
    .container {
        display: flex;
        justify-content: space-between;
        padding: 1.25em 0;
        align-items: center;
        .logo {
            font: {
                weight: bold;
                size: 1.5rem;
            }
        }
        nav {
            display: flex;
            align-items: center;
            gap: 3.125em;
            ul {
                list-style-type: none;
                display: flex;
                gap: 2.5em;
                li {
                    transition: all 300ms ease-in;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0%;
                        bottom: -.4em;
                        background-color: black;
                        width: 0.625em;
                        height: .2em;
                        opacity: 0;
                        transition: width 300ms ease-in;
                    }
                    &:hover::before {
                        width: 50%;
                        opacity: 1;
                        background-color: black;
                    }
                    &.active {
                        a {
                            font-weight: 700;
                        }
                        &::before {
                            width: 50%;
                            opacity: 1;
                            background-color: var(--primary-color);
                        }
                    }
                    a {
                        font: {
                            weight: 400;
                            family: 'Inter', sans-serif;
                            size: 1rem;
                        }
                        text: {
                            transform: uppercase;
                            decoration: none;
                        }
                        color: black;
                        &:hover {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

main .container {
    padding-top: 5em;
    display: flex;
    justify-content: space-between;
    .left-col {
        display: flex;
        flex-direction: column;
        gap: 3em;
        p {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 150%;
            max-width: 28.75em;
            color: var(--text-color);
            margin-top: 0.625em;
        }
        .cta {
            display: flex;
            gap: 0.625em;
            .secondary-cta {
                display: flex;
                align-items: center;
                gap: 0.625em;
                border: none;
                background: none;
                transition: all 300ms ease-in;
                &:hover {
                    gap: 1em;
                    background-color: var(--secondary-color);
                }
            }
        }
        .svg {
            display: flex;
            align-items: center;
            gap: 2.1875em;
        }
    }
    .right-col {
        display: flex;
        gap: 2.5em;
        div {
            border-radius: var(--border-radius);
            padding: 1.25em;
            max-width: 18.4375em;
            height: 31.25em;
            background-color: var(--secondary-color);
            &:last-of-type {
                background-color: var(--primary-color);
            }
            img {
                filter: drop-shadow(-0.625em 1.25em 1.25em rgba(0, 0, 0, 0.25));
            }
        }
    }
}

.image-gallery .container {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    align-items: center;
    justify-content: center;
    .images {
        display: grid;
        grid-template-areas: "vertical horizontal horizontal" "vertical space spa";
        gap: 1.25em;
        img {
            border-radius: var(--border-radius);
            width: 100%;
            &:nth-of-type(1) {
                grid-area: vertical;
            }
            &:nth-of-type(2) {
                grid-area: horizontal;
            }
        }
    }
}

.products .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25em;
    padding-top: 6.25em;
    .categories {
        display: flex;
        gap: 1.25em;
        button:nth-of-type(n+2) {
            background-color: transparent;
            border: 0.0625em solid black;
        }
    }
    .cards {
        display: flex;
        gap: 1.25em;
        &>div {
            flex: 1;
            display: flex;
            flex-direction: column;
            .image {
                height: 12.1875em;
                width: 100%;
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                background-color: red;
            }
            .product-information {
                background-color: white;
                display: flex;
                justify-content: space-between;
                gap: 0.625em;
                padding: 1.25em;
                border-radius: 0 0 var(--border-radius) var(--border-radius);
                .left-col {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3125em;
                    justify-content: space-between;
                    height: 100%;
                    p {
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-size: 0.875rem;
                        line-height: 150%;
                        color: var(--text-color);
                    }
                }
                .right-col {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .price {
                        font-size: 1.5rem;
                        font-family: 'Inter', sans-serif;
                    }
                    button {
                        padding: 0.3125em 0.625em;
                        font-size: 0.875rem;
                        font-family: 'Inter', sans-serif;
                        border-radius: 0.3125em;
                        text-transform: uppercase;
                        background-color: var(--secondary-color);
                        font-weight: 700;
                        border: none;
                    }
                }
            }
        }
    }
}

.explanation .container {
    max-width: 64.375em;
    display: flex;
    gap: 6.25em;
    margin-top: 5em;
    .left-col {
        width: 26.3em;
        position: relative;
        div {
            width: calc(400em / 16);
            height: calc(562em / 16);
            position: relative;
            border-radius: 100em;
            overflow: hidden;
            background: {
                image: url(/images/Group\ 8.png);
                repeat: no-repeat;
                position: bottom left;
            }
            ;
            img {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 22.1em;
                height: 33.7em;
                transition: all 300ms;
            }
            &:hover img {
                width: 23.3em;
                height: 35.6em;
            }
        }
        svg {
            position: absolute;
            right: -1.25em;
            bottom: 8.4em;
            z-index: 10;
        }
    }
    .right-col {
        margin: auto 0 3.75em;
        p {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 150%;
            color: var(--text-color);
            margin-top: 1.25em;
        }
    }
}

.services .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.9em 1.25em;
    margin-top: 8em;
    h2 {
        grid-column: 1 / -1;
    }
    .cards {
        display: flex;
        flex-direction: column;
        transition: all 300ms ease-in;
        .image {
            height: 12.1875em;
            width: 100%;
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            background-color: red;
        }
        .product-information {
            background-color: white;
            display: flex;
            justify-content: space-between;
            gap: 0.625em;
            padding: 1.25em;
            border-radius: 0 0 var(--border-radius) var(--border-radius);
            .left-col {
                display: flex;
                flex-direction: column;
                gap: 0.3125em;
                justify-content: space-between;
                height: 100%;
                p {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-size: 0.875rem;
                    line-height: 150%;
                    color: var(--text-color);
                }
            }
            .right-col {
                padding: 0.625em;
                transition: all 300ms ease-in;
            }
        }
        &:hover {
            .right-col {
                padding: 0.625em 0;
            }
        }
    }
}

.people .container {
    display: flex;
    gap: 1.25em;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 10em;
    div {
        width: 11.9em;
        height: 35.6em;
        border-radius: var(--border-radius);
        display: flex;
        align-items: flex-end;
        padding: 0 1.25em;
        transition: all 300ms ease-in;
        &:nth-of-type(1) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/blake-barlow-G9JxeWPvBA8-unsplash.png);
            background-size: cover;
            background-position: 50%;
            &:hover {
                width: calc(11.9em * 2);
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #0000009a 100%), url(/images/blake-barlow-G9JxeWPvBA8-unsplash.png);
                background-size: cover;
                background-position: 50%;
                padding: 2.5em 1.25em;
            }
        }
        &:nth-of-type(2) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/john-torcasio-tgVm0tkbf1U-unsplash\ 1.png);
            background-size: cover;
            background-position: 50%;
            &:hover {
                width: calc(11.9em * 2);
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #0000009a 100%), url(/images/john-torcasio-tgVm0tkbf1U-unsplash\ 1.png);
                background-size: cover;
                background-position: 50%;
                padding: 2.5em 1.25em;
            }
        }
        &:nth-of-type(3) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/joseph-gonzalez-iFgRcqHznqg-unsplash.png);
            background-size: cover;
            background-position: 50%;
            &:hover {
                width: calc(11.9em * 2);
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #0000009a 100%), url(/images/joseph-gonzalez-iFgRcqHznqg-unsplash.png);
                background-size: cover;
                background-position: 50%;
                padding: 2.5em 1.25em;
            }
        }
        &:nth-of-type(4) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/brazil-1368806_1280.png);
            background-size: cover;
            background-position: 50%;
            &:hover {
                width: calc(11.9em * 2);
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #0000009a 100%), url(/images/brazil-1368806_1280.png);
                background-size: cover;
                background-position: 50%;
                padding: 2.5em 1.25em;
            }
        }
        p {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2.25rem;
            color: #ffffff00;
            transition: all 300ms ease-in;
        }
        &:hover {
            width: calc(11.9em * 2);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #0000009a 100%), url(/images/joseph-gonzalez-iFgRcqHznqg-unsplash.png);
            background-size: cover;
            background-position: 50%;
            padding: 2.5em 1.25em;
            p {
                color: #ffffff;
            }
        }
    }
}

.ceo .container {
    max-width: calc(1030em / 16);
    display: flex;
    gap: 6.25em;
    margin-top: 5em;
    .left-col {
        width: calc(421em / 16);
        position: relative;
        transform: scaleX(-1);
        div {
            width: calc(400em / 16);
            height: calc(562em / 16);
            position: relative;
            border-radius: 100em;
            overflow: hidden;
            background: {
                image: url(/images/Group\ 8.png);
                repeat: no-repeat;
                position: bottom left;
            }
            ;
            img {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 22.1em;
                height: 33.7em;
                transition: all 300ms;
            }
            &:hover img {
                width: 23.3em;
                height: 35.6em;
            }
        }
        svg {
            position: absolute;
            right: -1.25em;
            bottom: 8.4em;
            z-index: 10;
        }
    }
    .right-col {
        margin: auto 0 3.75em;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
        align-items: flex-end;
        p {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 150%;
            color: var(--text-color);
            text-align: right;
        }
    }
}

.products:last-of-type {
    background-image: url(/images/Layer\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 57.4em;
    display: flex;
    align-items: center;
    margin-top: 10em;
    .container {
        margin-top: 0%;
    }
}

footer {
    height: 62.5em;
    background: url(/images/Vector.svg), var(--primary-color);
    background-repeat: no-repeat;
    background-position-x: 50%;
}